<!DOCTYPE html>
<html>
  <head>
    <title><%= @title =%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  	<nav>
		<div class="navbar navbar-fixed-top navbar-default"><div class="navbar-header"><a href="/convention" class="navbar-brand cheat-sheet-brand">Rails Beginner Cheat Sheet</a></div>

		<ul class="nav navbar-nav">
			<li><a href="console">Console</a></li>
			<li class="dropdown">
			<a href="ruby" class="dropdown-toggle"><b class="caret"></b> Ruby</a>
			<ul class="dropdown-menu">
				<li><a href="ruby-concepts">General Concepts</a></li>
				<li><a href="ruby-numbers">Numbers</a></li>
				<li><a href="ruby-strings">Strings</a></li>
				<li><a href="ruby-arrays">Arrays</a></li>
				<li><a href="ruby-hashes">Hashes</a></li>
			</ul>
			</li>
			<li class="dropdown">
			<a href="rails-folder-structure"><b class="caret"></b> Rails</a>
			<ul class="dropdown-menu">
				<li><a href="rails-folder-structure">Folder Structure</a></li>
				<li><a href="rails-commands">Commands</a></li>
				<li><a href="rails-erb">ERB: Embedded Ruby</a></li>
			</ul>
			</li>
			<li><a href="editor">Editor Tips</a></li>
			<li><a href="help">Help</a></li>
		</ul>
		<ul class="nav pull-right navbar-nav">
			<li><a href="resources.html">Resources</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
		</div>
  	</nav>
  </div>
    <%= yield %>
	<footer>
		<div class="footer-constrain">
			<p class="my-footer-p">created by <a href="http://pragtob.info/">Tobias Pfeiffer</a></p>
			<ul class="footer-links my-ul">
			<li class="my-li"><a href="http://www.pragtob.info/rails-beginner-cheatsheet/about.html">About</a></li>
			<li class="text-muted my-li">·</li>
			<li class="my-li"><a href="http://www.pragtob.info/rails-beginner-cheatsheet/resources.html">Resources</a></li>
			<li class="text-muted my-li">·</li>
			<li class="my-li"><a href="http://pragtob.wordpress.com/">Blog</a></li>
			</ul>
		</div>
	</footer>
  </body>
</html>
